### Java ###
# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Build outputs
out/
bin/
.settings/
.project
.classpath
.vscode

# IDEA project files
.idea/
*.iml

### Maven ###
*/target/*
target/*
!target/game/
target/game/screenshots/*
!target/RUN.CMD
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

### Game files ###

# Addon files
!*.eca

# profile files
profile/
profiles/

# config files
config.xml

# saves
saves/
